
body {
	margin-right: 30px;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 10px;
	width:90%;
	margin:auto;
	min-width:600px;
	max-width:2000px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 200;
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.navi {
	display: inline-block;
	padding-right: 0px;
	float: right;
}

.navi li {
	display: inline;
	float: left;
	padding: 20px;
	background-color: white;
	color: gray;
}

.navi li a:hover {
	background-color: white;
	color: black;
	margin-top: -2px;
	padding-bottom: 12px;
}

.imbig{
	width: 100%;

}

.tipo1 {
	font-family: 'Raleway', sans-serif;
	font-size: 400;
	color: black;
	
}

.tipo2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 400; 
	color: gray;
	
}

.iconos:hover { 
    -webkit-transform: scale(1.35);
    transform: scale(1.35)
}

.iconos {
 	-webkit-transition: 1.3s ease-in-out;
    -moz-transition: 1.3s ease-in-out;
    -o-transition: 1.3s ease-in-out;
    transition: 1.3s ease-in-out;
}

.section1 {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.section2 {
	display: flex;
	justify-content: space-around;
}

.space3 {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.logo {
	width:200px;
	height:77px;
}

.picsb {
	width: 50px;
	height: 50px;
}
.buttonblu {
	width: 100px;
	height: 38px;
	background-color: blue;
	color: white;
	border-radius: 5px;
    border-style: hidden;
}

.buscador {
	position: center;
}

.mensaje {
	background-color: #098590;
	width: 100%;
	height: 150px;
	text-align: center;
	padding-top: 30px;
}

footer {
	display: flex 
	justify-content: space-around; 
	background-color: black;
	width: 100%;
	height: 100px;
	color: white;
}


footer span {
	float: left;
	padding-left: 3px;
	padding-top: 5px;
}

footer ul li {
	display: inline-block;
}

footer ul {
	float: right;
	padding-top: 5px;
	padding-right: 3px;
}